<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1 align='center'>Mi Album de fotos</h1>

<table align="center">
  <tr>
    <th><img src="https://www.imagen.com.mx/assets/img/imagen_share.png" width="300px" height="300px" class="img-thumbnail"></th>
    <th><img src="https://www.imagen.com.mx/assets/img/imagen_share.png" width="300px" height="300px" class="img-thumbnail"></th>
    <th><img src="https://www.imagen.com.mx/assets/img/imagen_share.png" width="300px" height="300px" class="img-thumbnail"></th>
    <th><img src="https://www.imagen.com.mx/assets/img/imagen_share.png" width="300px" height="300px" class="img-thumbnail"></th>
  </tr>

</table>

<app-img></app-img>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


